<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Tracker - Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="nav">
        <nav>
            <div class="title">
                EXERCISE TRACKER
            </div>
            <form action="{{ url_for('logout') }}" method="GET">
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </nav>
    </div>    
    <div class="bodybackground">
        <div class="headinghome1">
            <h4 class="headinghome">Fill out the form below to record your workout!</h4>
        </div>
        <div class="nav-home">
            
            <div>
                <form method="POST">
                    <div class="exercisename">
                        <label for="exercise_name">Exercise Name:</label>
                        <select name="exercise_name" id="exercise_name">
                      {% for exercise in exercise_options %}
                        <option value="{{ exercise }}">{{ exercise }}</option>
                      {% endfor %}
                    </select>
                    </div>
                  
                    <div class="sets">
                        <label for="sets">Sets:</label>
                        <input type="number" name="sets" id="sets" required>
                    </div>
                  
                    <div class="weight">
                        <label for="weight">Weight:</label>
                        <input type="number" name="weight" id="weight" required>
                    </div>
                  
                    <button type="submit" class="submitbuttonhome">Submit</button>
                </form>
            </div>
              
            <div>
                <form method="POST">
                    <label for="new_exercise" style="color: white;">New Exercise:</label>
                    <input type="text" name="new_exercise" id="new_exercise" required>
                  
                    <button class="addexercise" type="submit" name="add_exercise" value="true">Add New Exercise</button>
                </form>
            </div>
            <div>
                
            </div>
            <div>
                <form action="{{ url_for('history') }}" method="GET">
                    <button type="submit" class="history-button">View Workout History</button>
                </form>
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p class="success">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="footer">
        Copyright &copy; workouttracker
    </div>
</body>
</html>
